<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CtCo site Tests">
    <test name="CtCo site Test">
        <packages>
            <package name="selenium"/>
            <package name="selenide"/>
        </packages>
    </test>
</suite>